<footer class="footer py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 text-lg-start">© {{ 'now' | date: '%Y' }} {{ site.title }}. All rights reserved.</div>
      <div class="col-lg-6 text-lg-end">
        <a class="link-light text-decoration-none me-3" href="mailto:{{ site.email }}">Contact</a>
        <a class="link-light text-decoration-none" href="https://squareup.com/us/en" target="_blank" rel="noopener">Powered by Square</a>
      </div>
    </div>
  </div>
</footer>
